<div class="container">
    <div class="content">
        <img class="product-img" src={{productInfo?.imageURL}} alt="Italian Trulli">
        <div class="product-info">
            <h2 class="product-title">{{productInfo?.title}}</h2>
            <h4 class="product-price">${{productInfo?.price}}</h4>
            <p class="product-description">{{productInfo?.description}}</p>
            <div class="product-sizes">
                <h5 class="sizes-title">SIZE</h5>
                <div class="sizes-btns">
                    <button class="size-select" type="button" *ngFor="let size of productInfo?.sizeOptions" (click)="SetSize(size)">{{size.label}}</button>
                </div>
            </div>
            <button class="add-cart-button" type="button" (click)="AddToCart()">ADD TO CART</button>
        </div>
    </div>
</div>
